<div class="hero-unit">
  <h1>Mozart Empty</h1>
  <p>An empty Mozart project.</p>
  <p>
    <a href="http://mozart.io" class="btn btn-info btn-large">Go to mozart.io</a>
    <p class="muted"><em>Mozart Version {{mozartversion}} - {{mozartversiondate}}</em></p>
  </p>
</div>